logs/
db/id_rsa
db/id_rsa.pub
jepsen/id_rsa
jepsen/id_rsa.pub
keys/data
jepsen/store

cloud/webkv-mongodb/node_modules
cloud/webkv-mongodb/settings.private.json

cloud/consistency-jepsen/target
cloud/consistency-jepsen/store
cloud/consistency-jepsen/.idea/
cloud/consistency-jepsen/clojure-mongo.iml

cloud/consistency-online/node_modules
cloud/consistency-online/history.log