logs/
db/id_rsa
db/id_rsa.pub
jepsen/id_rsa
jepsen/id_rsa.pub
keys/data
jepsen/store

cloud/webkv-mongodb/node_modules
cloud/checker-availability/node_modules
cloud/checker-consistency/target
cloud/checker-consistency/store
cloud/checker-consistency/.idea/
cloud/checker-consistency/clojure-mongo.iml
